### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#Explore data set
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#explore data set
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
# explore data set
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [5]:
print(school_data)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [20]:
school_IDs = school_data_complete["School ID"].unique()
total_schools = len(school_IDs)

student_IDs = school_data_complete["Student ID"].unique()
total_students = len(student_IDs)

total_budget = school_data["budget"].sum()

avg_math = school_data_complete["math_score"].mean()

avg_reading = school_data_complete["reading_score"].mean()

student_pass_math = school_data_complete[school_data_complete["math_score"]>=70]["Student ID"]
number_student_pass_math = len(student_pass_math)
percent_student_pass_math = number_student_pass_math / total_students*100

student_pass_reading = school_data_complete[school_data_complete["reading_score"]>=70]["Student ID"]
number_student_pass_reading = len(student_pass_reading)
percent_student_pass_reading = number_student_pass_reading / total_students*100

student_pass_overall = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]["Student ID"]
number_student_pass_overall = len(student_pass_overall)
percent_student_pass_overall = number_student_pass_overall / total_students*100

district = pd.DataFrame({
    'Total Number of Schools':[total_schools],
    'Total Number of Students':[total_students],
    'Total Budget':[total_budget],
    'Average Math Score':[avg_math],
    'Average Reading Score':[avg_reading],
    'Percent Passing Math':[percent_student_pass_math],
    'Percent Passing Reading':[percent_student_pass_reading],
    'Percent Passing Overall':[percent_student_pass_overall]
})

district["Total Budget"] = district.loc[:,"Total Budget"].map("${:,.2f}".format)

district.style

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [43]:
# find school type and budget by school
school_budget = school_data_complete.groupby("school_name")["budget"].first()
school_type = school_data_complete.groupby("school_name")["type"].first()

# find total number of students for each school
school_students = school_data_complete["school_name"].value_counts()

# find reading and math scores by school
school_marks= school_data_complete.groupby("school_name")[["reading_score","math_score"]].mean()

# find number passing for each school
# the same approach is used for these next 3 calcs, but the count is on different columns
# so as to give a different column name and make it easier to
# rename the columns later
school_pass_read= school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()
school_pass_math= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["School ID"].count()
school_pass_overall= school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)].groupby("school_name")["Student ID"].count()

# Combine the data into a single dataset.  
summary = pd.concat([school_type, school_students, school_budget, school_marks, school_pass_read, school_pass_math, school_pass_overall], axis=1)

# rename columns
summary_rename = summary.rename(columns={
    "school_name":"Total Students", 
    "type":"School Type",
    "budget":"Total School Budget",
    "reading_score":"Average Reading Score", 
    "math_score":"Average Math Score",
    "student_name":"Total Pass Reading",
    "School ID":"Total Pass Math",
    "Student ID":"Total Pass Overall"})

# add calculated columns
summary_rename["% Pass Reading"]=summary_rename["Total Pass Reading"]/summary_rename["Total Students"]*100
summary_rename["% Pass Math"]=summary_rename["Total Pass Math"]/summary_rename["Total Students"]*100
summary_rename["% Pass Overall"]=summary_rename["Total Pass Overall"]/summary_rename["Total Students"]*100
summary_rename["Per Student Budget"]=summary_rename["Total School Budget"]/summary_rename["Total Students"]
                                                    
# reorder columns
summary_reorder = summary_rename[["School Type", "Total Students",  "Total School Budget", "Per Student Budget", "Average Math Score", "Average Reading Score", "% Pass Math", "% Pass Reading", "% Pass Overall"]]

# format columns
#summary_reorder["Total School Budget"] = summary_reorder.loc[:,"Total School Budget"].map("${:,.2f}".format)
#summary_reorder["Per Student Budget"] = summary_reorder.loc[:,"Per Student Budget"].map("${:,.2f}".format)

summary_reorder.style

#summary_reorder.columns

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [16]:
top_schools = summary_reorder.sort_values("% Pass Overall", ascending = False)
top_schools.head(5).style

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [17]:
bottom_schools = summary_reorder.sort_values("% Pass Overall", ascending = True)
bottom_schools.head(5).style

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [18]:
# Filter data for grade 9, groupby school, 
# convert to a dataframe so that the column can be renamed
grade_9_mdata = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name")["math_score"].mean()
grade_9_mdf = pd.DataFrame(grade_9_mdata)
grade_9_math = grade_9_mdf.rename(columns = ({"math_score":"Grade 9"}))

# repeat for grade 10
grade_10_mdata = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name")["math_score"].mean()
grade_10_mdf = pd.DataFrame(grade_9_mdata)
grade_10_math = grade_10_mdf.rename(columns = ({"math_score":"Grade 10"}))

# repeat for grade 10
grade_11_mdata = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name")["math_score"].mean()
grade_11_mdf = pd.DataFrame(grade_9_mdata)
grade_11_math = grade_11_mdf.rename(columns = ({"math_score":"Grade 11"}))

# repeat for grade 10
grade_12_mdata = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name")["math_score"].mean()
grade_12_mdf = pd.DataFrame(grade_9_mdata)
grade_12_math = grade_12_mdf.rename(columns = ({"math_score":"Grade 12"}))

# join data frames together
reading_by_grade = pd.concat([grade_9_math, grade_10_math, grade_11_math, grade_12_math], axis = 1)

reading_by_grade.style

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [19]:
# Filter data for grade 9, groupby school, 
# convert to a dataframe so that the column can be renamed
grade_9_rdata = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
grade_9_rdf = pd.DataFrame(grade_9_rdata)
grade_9_read = grade_9_rdf.rename(columns = ({"reading_score":"Grade 9"}))

# repeat for grade 10
grade_10_rdata = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
grade_10_rdf = pd.DataFrame(grade_9_rdata)
grade_10_read = grade_10_rdf.rename(columns = ({"reading_score":"Grade 10"}))

# repeat for grade 10
grade_11_rdata = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
grade_11_rdf = pd.DataFrame(grade_9_rdata)
grade_11_read = grade_11_rdf.rename(columns = ({"reading_score":"Grade 11"}))

# repeat for grade 10
grade_12_rdata = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean()
grade_12_rdf = pd.DataFrame(grade_9_rdata)
grade_12_read = grade_12_rdf.rename(columns = ({"reading_score":"Grade 12"}))

# join data frames together
reading_by_grade = pd.concat([grade_9_read, grade_10_read, grade_11_read, grade_12_read], axis = 1)

reading_by_grade.style

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [47]:
# create a subset table of summary_reorder to use for score analysis
school_analysis = summary_reorder[['Per Student Budget', 'Average Math Score', 'Average Reading Score',
       '% Pass Math', '% Pass Reading', '% Pass Overall']]

# Create the bins for school spending
spending_bins = [570, 595, 620, 645, 670]

# Create the names for the bins
spending_groups = ['low', 'medium-low', 'medium high', 'high']

# Cut the data
school_analysis['Spending Ranges']=pd.cut(school_analysis['Per Student Budget'], spending_bins, labels = spending_groups, include_lowest = True)                                 

# Create a group based on the bins
school_analysis_spend = school_analysis.groupby('Spending Ranges').mean()

school_analysis_spend

C:\Users\kathe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Per Student Budget,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
Spending Ranges,,,,,,
low,581.000000,83.455399,83.933814,93.460096,96.610877,90.369459
medium-low,604.500000,83.599686,83.885211,94.230858,95.900287,90.216324
medium high,635.166667,79.079225,81.891436,75.668212,86.106569,66.112060
high,652.333333,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

* Perform the same operations as above, based on school size.

In [52]:
# create a subset table of summary_reorder to use for score analysis
school_analysis = summary_reorder[['Total Students', 'Average Math Score', 'Average Reading Score',
       '% Pass Math', '% Pass Reading', '% Pass Overall']]

# Create the bins for school size
size_bins = [0, 1000, 2000, 3000, 4000, 5000]

# Create the names for the bins
size_groups = ['low', 'medium-low', 'medium high', 'high', 'very high']

# Cut the data
school_analysis['School Size']=pd.cut(school_analysis['Total Students'], size_bins, labels = size_groups, include_lowest = True)                                 
school_analysis

# Create a group based on the bins
school_analysis_size = school_analysis.groupby('School Size').mean()

school_analysis_size

C:\Users\kathe\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,Total Students,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
School Size,,,,,,
low,694.500000,83.821598,83.929843,93.550225,96.099437,89.883853
medium-low,1704.400000,83.374684,83.864438,93.599695,96.790680,90.621535
medium high,2722.000000,78.429493,81.769122,73.462428,84.473577,62.897703
high,3999.000000,76.842711,80.744686,66.366592,80.220055,52.988247
very high,4790.666667,77.136883,80.978256,66.496861,81.339570,53.902988

## Scores by School Type

* Perform the same operations as above, based on school type

In [53]:
# create a subset table of summary_reorder to use for score analysis
school_analysis = summary_reorder[['School Type', 'Average Math Score', 'Average Reading Score',
       '% Pass Math', '% Pass Reading', '% Pass Overall']]


# Create a group based on the bins
school_analysis_type = school_analysis.groupby('School Type').mean()

school_analysis_type

,Average Math Score,Average Reading Score,% Pass Math,% Pass Reading,% Pass Overall
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208