### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#Explore data set
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
#explore data set
school_data_complete.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39170 entries, 0 to 39169
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Student ID     39170 non-null  int64
 1   student_name   39170 non-null  object
 2   gender         39170 non-null  object
 3   grade          39170 non-null  object
 4   school_name    39170 non-null  object
 5   reading_score  39170 non-null  int64
 6   math_score     39170 non-null  int64
 7   School ID      39170 non-null  int64
 8   type           39170 non-null  object
 9   size           39170 non-null  int64
 10  budget         39170 non-null  int64
dtypes: int64(6), object(5)
memory usage: 3.6+ MB

In [4]:
# explore data set
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [5]:
print(school_data)

    School ID            school_name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
school_IDs = school_data_complete["School ID"].unique()
total_schools = len(school_IDs)

student_IDs = school_data_complete["Student ID"].unique()
total_students = len(student_IDs)

total_budget = school_data["budget"].sum()

avg_math = school_data_complete["math_score"].mean()

avg_reading = school_data_complete["reading_score"].mean()

student_pass_math = school_data_complete[school_data_complete["math_score"]>=70]["Student ID"]
number_student_pass_math = len(student_pass_math)
percent_student_pass_math = number_student_pass_math / total_students

student_pass_reading = school_data_complete[school_data_complete["reading_score"]>=70]["Student ID"]
number_student_pass_reading = len(student_pass_reading)
percent_student_pass_reading = number_student_pass_reading / total_students

student_pass_overall = school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)]["Student ID"]
number_student_pass_overall = len(student_pass_overall)
percent_student_pass_overall = number_student_pass_overall / total_students

district = pd.DataFrame({
    'Total Number of Schools':[total_schools],
    'Total Number of Students':[total_students],
    'Total Budget':[total_budget],
    'Average Math Score':[avg_math],
    'Average Reading Score':[avg_reading],
    'Percent Passing Math':[percent_student_pass_math],
    'Percent Passing Reading':[percent_student_pass_reading],
    'Percent Passing Overall':[percent_student_pass_overall]
})

print(district)

   Total Number of Schools  Total Number of Students  Total Budget  \
0                       15                     39170      24649428

   Average Math Score  Average Reading Score  Percent Passing Math  \
0           78.985371               81.87784              0.749809

   Percent Passing Reading  Percent Passing Overall
0                 0.858055                 0.651723

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [7]:
# find school type and budget by school
#school_budget = school_data_complete.groupby("school_name")["budget"].mean()
#school_type = school_data_complete.groupby("school_name")["type"].min()
school_budget = school_data_complete.groupby("school_name")["budget"].first()
school_type = school_data_complete.groupby("school_name")["type"].first()

# find total number of students for each school
school_students = school_data_complete["school_name"].value_counts()

# find reading and math scores by school
school_marks= school_data_complete.groupby("school_name")[["reading_score","math_score"]].mean()

# find number passing for each school
# the same approach is used for these next 3 calcs, but the count is on different columns
# so as to give a different column name and make it easier to
# rename the columns later
school_pass_read= school_data_complete[school_data_complete["reading_score"]>=70].groupby("school_name")["student_name"].count()
school_pass_math= school_data_complete[school_data_complete["math_score"]>=70].groupby("school_name")["School ID"].count()
school_pass_overall= school_data_complete[(school_data_complete["reading_score"]>=70) & (school_data_complete["math_score"]>=70)].groupby("school_name")["Student ID"].count()

# Combine the data into a single dataset.  
summary = pd.concat([school_students, school_type, school_budget, school_marks, school_pass_read, school_pass_math, school_pass_overall], axis=1)

# rename columns
summary_rename = summary.rename(columns={
    "school_name":"Total Students", 
    "type":"School Type",
    "budget":"Total School Budget",
    "reading_score":'Average Reading Score', 
    "math_score":"Average Math Score",
    "student_name":"Total Pass Reading",
    "School ID":"Total Pass Math",
    "Student ID":"Total Pass Overall"})

# add calculated columns
summary_rename["% Pass Reading"]=summary_rename["Total Pass Reading"]/summary_rename["Total Students"]
summary_rename["% Pass Math"]=summary_rename["Total Pass Math"]/summary_rename["Total Students"]
summary_rename["% Pass Overall"]=summary_rename["Total Pass Overall"]/summary_rename["Total Students"]
summary_rename["Per Student Budget"]=summary_rename["Total School Budget"]/summary_rename["Total Students"]
                                                    
# reorder columns
summary_reorder = summary_rename[["Total Students", "School Type", "Total School Budget", "Per Student Budget", "% Pass Reading", "% Pass Math", "% Pass Overall"]]

print(summary_reorder)

                       Total Students School Type  Total School Budget  \
Bailey High School               4976    District              3124928
Johnson High School              4761    District              3094650
Hernandez High School            4635    District              3022020
Rodriguez High School            3999    District              2547363
Figueroa High School             2949    District              1884411
Huang High School                2917    District              1910635
Ford High School                 2739    District              1763916
Wilson High School               2283     Charter              1319574
Cabrera High School              1858     Charter              1081356
Wright High School               1800     Charter              1049400
Shelton High School              1761     Charter              1056600
Thomas High School               1635     Charter              1043130
Griffin High School              1468     Charter               917500
Pena High School                  962     Charter               585858
Holden High School                427     Charter               248087

                       Per Student Budget  % Pass Reading  % Pass Math  \
Bailey High School                  628.0        0.819333     0.666801
Johnson High School                 650.0        0.812224     0.660576
Hernandez High School               652.0        0.808630     0.667530
Rodriguez High School               637.0        0.802201     0.663666
Figueroa High School                639.0        0.807392     0.659885
Huang High School                   655.0        0.813164     0.656839
Ford High School                    644.0        0.792990     0.683096
Wilson High School                  578.0        0.965396     0.938677
Cabrera High School                 582.0        0.970398     0.941335
Wright High School                  583.0        0.966111     0.933333
Shelton High School                 600.0        0.958546     0.938671
Thomas High School                  638.0        0.973089     0.932722
Griffin High School                 625.0        0.971390     0.933924
Pena High School                    609.0        0.959459     0.945946
Holden High School                  581.0        0.962529     0.925059

                       % Pass Overall
Bailey High School           0.546423
Johnson High School          0.535392
Hernandez High School        0.535275
Rodriguez High School        0.529882
Figueroa High School         0.532045
Huang High School            0.535139
Ford High School             0.542899
Wilson High School           0.905826
Cabrera High School          0.913348
Wright High School           0.903333
Shelton High School          0.898921
Thomas High School           0.909480
Griffin High School          0.905995
Pena High School             0.905405
Holden High School           0.892272

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [8]:
top_schools = summary_reorder.sort_values("% Pass Overall", ascending = False)
print(top_schools.head(5))

                     Total Students School Type  Total School Budget  \
Cabrera High School            1858     Charter              1081356
Thomas High School             1635     Charter              1043130
Griffin High School            1468     Charter               917500
Wilson High School             2283     Charter              1319574
Pena High School                962     Charter               585858

                     Per Student Budget  % Pass Reading  % Pass Math  \
Cabrera High School               582.0        0.970398     0.941335
Thomas High School                638.0        0.973089     0.932722
Griffin High School               625.0        0.971390     0.933924
Wilson High School                578.0        0.965396     0.938677
Pena High School                  609.0        0.959459     0.945946

                     % Pass Overall
Cabrera High School        0.913348
Thomas High School         0.909480
Griffin High School        0.905995
Wilson High School         0.905826
Pena High School           0.905405

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [9]:
bottom_schools = summary_reorder.sort_values("% Pass Overall", ascending = True)
print(bottom_schools.head(5))

                       Total Students School Type  Total School Budget  \
Rodriguez High School            3999    District              2547363
Figueroa High School             2949    District              1884411
Huang High School                2917    District              1910635
Hernandez High School            4635    District              3022020
Johnson High School              4761    District              3094650

                       Per Student Budget  % Pass Reading  % Pass Math  \
Rodriguez High School               637.0        0.802201     0.663666
Figueroa High School                639.0        0.807392     0.659885
Huang High School                   655.0        0.813164     0.656839
Hernandez High School               652.0        0.808630     0.667530
Johnson High School                 650.0        0.812224     0.660576

                       % Pass Overall
Rodriguez High School        0.529882
Figueroa High School         0.532045
Huang High School            0.535139
Hernandez High School        0.535275
Johnson High School          0.535392

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [23]:
# Filter data for grade 9, groupby school, 
# convert to a dataframe so that the column can be renamed
grade_9_rdata = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
grade_9_rdf = pd.DataFrame(grade_9_rdata)
grade_9_read = grade_9_rdf.rename(columns = ({"reading_score":"Grade 9"}))

# repeat for grade 10
grade_10_rdata = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
grade_10_rdf = pd.DataFrame(grade_9_rdata)
grade_10_read = grade_10_rdf.rename(columns = ({"reading_score":"Grade 10"}))

# repeat for grade 10
grade_11_rdata = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
grade_11_rdf = pd.DataFrame(grade_9_rdata)
grade_11_read = grade_11_rdf.rename(columns = ({"reading_score":"Grade 11"}))

# repeat for grade 10
grade_12_rdata = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean()
grade_12_rdf = pd.DataFrame(grade_9_rdata)
grade_12_read = grade_12_rdf.rename(columns = ({"reading_score":"Grade 12"}))

# join data frames together
reading_by_grade = pd.concat([grade_9_read, grade_10_read, grade_11_read, grade_12_read], axis = 1)

print(reading_by_grade)

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     81.303155  81.303155  81.303155  81.303155
Cabrera High School    83.676136  83.676136  83.676136  83.676136
Figueroa High School   81.198598  81.198598  81.198598  81.198598
Ford High School       80.632653  80.632653  80.632653  80.632653
Griffin High School    83.369193  83.369193  83.369193  83.369193
Hernandez High School  80.866860  80.866860  80.866860  80.866860
Holden High School     83.677165  83.677165  83.677165  83.677165
Huang High School      81.290284  81.290284  81.290284  81.290284
Johnson High School    81.260714  81.260714  81.260714  81.260714
Pena High School       83.807273  83.807273  83.807273  83.807273
Rodriguez High School  80.993127  80.993127  80.993127  80.993127
Shelton High School    84.122642  84.122642  84.122642  84.122642
Thomas High School     83.728850  83.728850  83.728850  83.728850
Wilson High School     83.939778  83.939778  83.939778  83.939778
Wright High School     83.833333  83.833333  83.833333  83.833333

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [24]:
# Filter data for grade 9, groupby school, 
# convert to a dataframe so that the column can be renamed
grade_9_rdata = school_data_complete[school_data_complete["grade"]=="9th"].groupby("school_name")["reading_score"].mean()
grade_9_rdf = pd.DataFrame(grade_9_rdata)
grade_9_read = grade_9_rdf.rename(columns = ({"reading_score":"Grade 9"}))

# repeat for grade 10
grade_10_rdata = school_data_complete[school_data_complete["grade"]=="10th"].groupby("school_name")["reading_score"].mean()
grade_10_rdf = pd.DataFrame(grade_9_rdata)
grade_10_read = grade_10_rdf.rename(columns = ({"reading_score":"Grade 10"}))

# repeat for grade 10
grade_11_rdata = school_data_complete[school_data_complete["grade"]=="11th"].groupby("school_name")["reading_score"].mean()
grade_11_rdf = pd.DataFrame(grade_9_rdata)
grade_11_read = grade_11_rdf.rename(columns = ({"reading_score":"Grade 11"}))

# repeat for grade 10
grade_12_rdata = school_data_complete[school_data_complete["grade"]=="12th"].groupby("school_name")["reading_score"].mean()
grade_12_rdf = pd.DataFrame(grade_9_rdata)
grade_12_read = grade_12_rdf.rename(columns = ({"reading_score":"Grade 12"}))

# join data frames together
reading_by_grade = pd.concat([grade_9_read, grade_10_read, grade_11_read, grade_12_read], axis = 1)

print(reading_by_grade)

                         Grade 9   Grade 10   Grade 11   Grade 12
school_name
Bailey High School     81.303155  81.303155  81.303155  81.303155
Cabrera High School    83.676136  83.676136  83.676136  83.676136
Figueroa High School   81.198598  81.198598  81.198598  81.198598
Ford High School       80.632653  80.632653  80.632653  80.632653
Griffin High School    83.369193  83.369193  83.369193  83.369193
Hernandez High School  80.866860  80.866860  80.866860  80.866860
Holden High School     83.677165  83.677165  83.677165  83.677165
Huang High School      81.290284  81.290284  81.290284  81.290284
Johnson High School    81.260714  81.260714  81.260714  81.260714
Pena High School       83.807273  83.807273  83.807273  83.807273
Rodriguez High School  80.993127  80.993127  80.993127  80.993127
Shelton High School    84.122642  84.122642  84.122642  84.122642
Thomas High School     83.728850  83.728850  83.728850  83.728850
Wilson High School     83.939778  83.939778  83.939778  83.939778
Wright High School     83.833333  83.833333  83.833333  83.833333

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type